{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Театри міста{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'theaters/styles.css' %}">
    {% block styles %}
    
    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <h1>Театри міста</h1>
            <ul>
                <li><a href="{% url 'performance_list' %}">Список вистав</a></li>

                {% if username %}
                    <li><a>{{ username }}</li>  {# Показуємо ім'я користувача #}
                    <li><a href="{% url 'logout' %}">Вийти</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Увійти</a></li>
                {% endif %}
                <!-- Додайте інші посилання, якщо потрібно -->
            </ul>
        </nav>
    </header>
        {% block content %}
        <!-- Тут буде основний контент -->
        {% endblock %}
    <footer>
        <p>&copy; 2024 Театри міста. Всі права захищені.</p>
    </footer>
</body>
</html>